<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel App</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>

<div class="container my-2">
    <h1>Admin Dashboard</h1>
    <h4>Driver List</h4>
    <hr/>
    <a th:href="@{/admin/authenticate/add_driver}" class="btn btn-success mt-4 mb-4">Add Driver</a>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Driver ID</th>
            <th>
                Driver Name
            </th>
            <th>
                Experience
            </th>
            <th>
                Status
            </th>
            <th>Assigned to</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="drivers : ${driverlist}">

            <td th:text="${drivers.driverid}"></td>
            <td th:text="${drivers.Drivername}"></td>
            <td th:text="${drivers.DriverExp}"></td>
            <td th:text="${drivers.status}"></td>
            <td th:text="${drivers.assigedto}"></td>
            <td>
                <a th:href="@{/admin/authenticate/showdriverupdate/{driverid}(driverid=${drivers.driverid})}" class="btn btn-primary ">Update</a>
                <a th:href="@{/admin/authenticate/deletedriver/{driverid}(driverid=${drivers.driverid})}" class="btn btn-danger ">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>
    <a th:href="@{/admin/authenticate/goback}" class="btn btn-warning mt-4 mb-4">← Go Back</a>
</div>
</body>
</html>