<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel App</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>

<div class="container my-2">
    <h1>Room List</h1>
    <h2 th:text="${username}"></h2>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                Room id
            </th>
            <th>
                room status
            </th>
            <th>
                number of beds
            </th>
            <th> price </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rooms : ${roomlist}">
            <td th:text="${rooms.roomid}"></td>
            <td th:text="${rooms.roomstatus}"></td>
            <td th:text="${rooms.noOfBeds}"></td>
            <td th:text="${rooms.price}"></td>
         </tr>
        </tbody>
    </table>
</div>
</body>
</html>